<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My TODO Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="p-10">
      <div>
        <%- include('header.ejs') %>
        <form action="">
          <div class="flex gap-2">
            <div class="flex-auto">
              <input
                type="text"
                id=""
                placeholder="What's next?"
                class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm"
              />
            </div>

            <div class="flex-auto">
              <input
                type="date"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"
              />
            </div>

            <div class="flex-none">
              <button
                type="submit"
                class="bg-green-600 text-white px-5 py-2 rounded"
              >
                Add
              </button>
            </div>
          </div>
        </form>
        <%- include('todos.ejs') %>
      </div>
    </div>
  </body>
</html>
