<div>
  <h5>Overdue</h5>
  <span id="count-overdue"></span>
  <ul class="list-none overdue-list"></ul>

  <h5>Due Today</h5>
  <span id="count-due-today"></span>
  <ul class="list-none due-today-list"></ul>

  <h5>Due Later</h5>
  <span id="count-due-later"></span>
  <ul class="list-none due-later-list"></ul>
</div>
